h1
{
    font-size: 1.2em;

    margin-bottom: 0;

    color: #999;
}
h2
{
    font-size: 2em;

    margin-top: 0;
    padding-top: 0;
}
nav a
{
    display: inline-block;

    margin-top: 10px;
    padding: 5px 10px;

    text-decoration: none;

    border-radius: 4px;
    background-color: #eee;

    &:visited,
    &:link
    {
        color: #607d8b;
    }
    &:hover
    {
        color: #039be5;
        background-color: #cfd8dc;
    }
    &.router-link-active
    {
        color: #039be5;
    }
}
